<div class="social-links">
    <a class="icons" href="https://twitter.com/">
        <i class="fa fa-twitter fa-lg"></i>
        <span class="hidden">Twitter</span>
    </a>
    <a class="icons" href="https://github.com/Niessy">
        <i class="fa fa-github fa-lg"></i>
        <span class="hidden">Github</span>
    </a>
</div>
